@model Product

<form method="post" enctype="multipart/form-data">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Edit Product</h2>
			<hr />
		</div>
		<div class="row">
			<div class="col-10">
				<div class="mb-3">
					<label asp-for="Title" class="mb-1"></label>
					<input asp-for="Title" type="text" class="form-control border-0 shadow" />
					<span asp-validation-for="Title" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="Description" class="mb-1"></label>
					<textarea asp-for="Description" type="text" class="form-control border-0 shadow"></textarea>
					<span asp-validation-for="Description" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="ISBN" class="mb-1"></label>
					<input asp-for="ISBN" type="text" class="form-control border-0 shadow" />
					<span asp-validation-for="ISBN" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="Author" class="mb-1"></label>
					<input asp-for="Author" type="text" class="form-control border-0 shadow" />
					<span asp-validation-for="Author" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="ListPrice" class="mb-1"></label>
					<input asp-for="ListPrice" type="text" class="form-control border-0 shadow" />
					<span asp-validation-for="ListPrice" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="Price" class="mb-1"></label>
					<input asp-for="Price" type="text" class="form-control border-0 shadow" />
					<span asp-validation-for="Price" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="Price50" class="mb-1"></label>
					<input asp-for="Price50" type="text" class="form-control border-0 shadow" />
					<span asp-validation-for="Price50" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="Price100" class="mb-1"></label>
					<input asp-for="Price100" type="text" class="form-control border-0 shadow" />
					<span asp-validation-for="Price100" class="text-danger"></span>
				</div>
				<div class="row">
					<div class="col-6 col-md-3">
						<button type="submit" class="btn btn-primary form-control">Update</button>
					</div>
					<div class="col-6 col-md-3">
						<a asp-controller="Product" asp-action="Index" class="btn btn-secondary border">Back to category list</a>
					</div>
				</div>
			</div>
			<div class="col-2">
				<img src="@Model.ImageUrl" width="100%" alt="Image"
					style="border-radius: 5px; border: 1px solid #bbb9b9"
				/>
			</div>
		</div>
		
		
	</div>
</form>